div {
  position: absolute;
  color: white;
}

.div1 {
  width: 350px;
  height: 350px;
  background-color: #3b3b3b;
  top: 0;
  right: 0;
}

.div2 {
  background-color: black;
  width: 50%;
  height: 50%;
  left: 0;
  bottom: 0;
}
